[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DJ Calphonic (calebcabob)
[access "refs/for/refs/*"]
	read = group user/DJ Calphonic (calebcabob)
	push = group user/DJ Calphonic (calebcabob)
	label-Code-Review = -2..+2 group user/DJ Calphonic (calebcabob)
	label-Verified = -1..+1 group user/DJ Calphonic (calebcabob)
	rebase = group user/DJ Calphonic (calebcabob)
	removeReviewer = group user/DJ Calphonic (calebcabob)
	submit = group user/DJ Calphonic (calebcabob)
[access "refs/heads/*"]
	read = group user/DJ Calphonic (calebcabob)
	create = group user/DJ Calphonic (calebcabob)
	push = +force group user/DJ Calphonic (calebcabob)
	pushMerge = group user/DJ Calphonic (calebcabob)
[access "refs/tags/*"]
	push = group user/DJ Calphonic (calebcabob)
	push = +force group user/DJ Calphonic (calebcabob)
